@model Infrastructure.Models.TipoProducto

@{
    ViewBag.Title = "Editar";
}

<h2>Editando</h2>

@using (Html.BeginForm("SaveAll", "TipoProducto", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    @Html.AntiForgeryToken()

    <div class="row">
  
            <h4>Tipo de producto</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.id)

            <div class="form-group row">
                @Html.LabelFor(model => model.descripcionTipo, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-2">
                    @Html.EditorFor(model => model.descripcionTipo, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.descripcionTipo, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group row">
                @Html.LabelFor(model => model.estado, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-2">
                    @Html.CheckBoxFor(model => model.estado)
                    @Html.ValidationMessageFor(model => model.estado, "", new { @class = "text-danger" })

                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>

    </div>
}

<div class="row">
    <div class="col-lg-1">
        <a href="@Url.Action("ListAll", "TipoProducto")" title="Cerrar sesión" class="btn btn-primary">
            <img alt="List View" src="@Url.Content("/Img/icons/exit.png")" style="height:30px">
            Volver a lista
        </a>
    </div>

</div>
