@model Infrastructure.Models.Cita

@{
    ViewBag.Title = "Reservar Cita";
}

<center><h2>Reservar Cita</h2></center>

<div class="formCita">
    @using (Html.BeginForm("Save", "Cita", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        @*<h4>Cita</h4>*@
        @*<hr />*@

        <div class="form-horizontal align-self-md-start">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                <label class="control-label col-md-6"> Tipo de cita</label>
                @*@Html.LabelFor(model => model.idTipoCita, "idTipoCita", htmlAttributes: new { @class = "control-label col-md-6" })*@
                <div class="col-md-2">
                    @Html.DropDownList("idTipoCita", new SelectList(ViewBag.listaTipos, "id", "descripcion"),
                        htmlAttributes: new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.nombreCliente, htmlAttributes: new { @class = "control-label col-md-6" })
                <div class="col-md-2">
                    @Html.EditorFor(model => model.nombreCliente, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.nombreCliente, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.apellidosCliente, htmlAttributes: new { @class = "control-label col-md-6" })
                <div class="col-md-2">
                    @Html.EditorFor(model => model.apellidosCliente, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.apellidosCliente, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.telefonoCliente, htmlAttributes: new { @class = "control-label col-md-6" })
                <div class="col-md-2">
                    @Html.EditorFor(model => model.telefonoCliente, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.telefonoCliente, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.correoCliente, htmlAttributes: new { @class = "control-label col-md-6" })
                <div class="col-md-2">
                    @Html.EditorFor(model => model.correoCliente, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.correoCliente, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.fechaCita, htmlAttributes: new { @class = "control-label col-md-6" })
                <div class="col-md-2">
                    <input type="date" name="name" value="" />
                    <div class="input-group date" id="datetimepicker12" data-target-input="nearest">
                        @*@Html.EditorFor(model => model.fechaCita, new { htmlAttributes = new { @class = "form-control datetimepicker-input", @target = "#datetimepicker12" } })*@
                        @Html.EditorFor(model => model.fechaCita, new { htmlAttributes = new { @class = "form-control datepicker"} })
                        @Html.ValidationMessageFor(model => model.fechaCita, "", new { @class = "text-danger" })
                        @*<div class="input-group-append" data-target="#datetimepicker12" data-toggle="datetimepicker">
                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                        </div>*@
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.horaCita, htmlAttributes: new { @class = "control-label col-md-6" })
                <div class="col-md-2">
                    @Html.EditorFor(model => model.horaCita, new { htmlAttributes = new { @class = "form-control", @id = "durationExample" } })
                    @Html.ValidationMessageFor(model => model.horaCita, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.descripcion, htmlAttributes: new { @class = "control-label col-md-6" })
                <div class="col-md-2">
                    @Html.EditorFor(model => model.descripcion, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.descripcion, "", new { @class = "text-danger" })
                </div>
            </div>


            <div class="row">
                <div class="form-group col-md-12">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Reservar" class="btn btn-success" />
                    </div>
                </div>
                <div class="form-group col-md-12">
                    <div class="col-md-offset-2 col-md-10">
                        @Html.ActionLink("Regresar al inicio", "Index")
                    </div>
                </div>

            </div>



        </div>

    }
</div>



<link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="~/TempResources/jquery.timepicker.css" />

<style>
    #toast-container > div {
        margin-top: 29%;
        opacity: 1;
    }
</style>


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.39.0/css/tempusdominus-bootstrap-4.min.css"
      integrity="sha512-3JRrEUwaCkFUBLK1N8HehwQgu8e23jTH4np5NHOmQOobuC4ROQxFwFgBLTnhcnQRMs84muMh0PnnwXlPq5MGjg==" crossorigin="anonymous" />

@section Scripts {
    @Scripts.Render("~/bundles/toastjs")
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/jquery-ui-1.13.1.min.js"></script>

    @*Para el Toast*@
    <script>
        $(document).ready(function () {
             console.log("Entro a JQuery")

                toastr.options = {
                    "closeButton": false,
                    "debug": false,
                    "newestOnTop": false,
                    "progressBar": true,
                    "positionClass": "toast-top-right",
                    "preventDuplicates": false,
                    "onclick": null,
                    "showDuration": "400",
                    "hideDuration": "1000",
                    "timeOut": "5000",
                    "extendedTimeOut": "1000",
                    "showEasing": "swing",
                    "hideEasing": "linear",
                    "showMethod": "fadeIn",
                    "hideMethod": "fadeOut"
                }
                // Recibe los parámetros del Controller
                var option = '@ViewBag.Action'
                var message = '@ViewBag.Message'
                //if (option == 'S') {
                //    toastr.success("La cita fue agendada correctamente");
                //}
                if (option == 'E') {
                    toastr.warning("Se ha producido un error :"+message);
                }

            if (option == 'A') {
                toastr.warning("Lo sentimos, ya está reservado ese espacio, seleccione otro" + message);
            }

            if (option == 'F') {
                toastr.warning("La fecha de la cita no puede ser menor a la fecha de hoy" + message);
            }
            // Cambiar el color del fondo del Grid.
            //$(".table tbody tr:even").css("background-color", "#ddd");
        });
    </script>

    @*Scripts para el timepicker*@
    <script type="text/javascript" src="~/TempResources/jquery.timepicker.js"></script>
    <script type="text/javascript" src="~/TempResources/bootstrap-datepicker.js"></script>
    @*<script type="text/javascript" src="~/TempResources/site.js"></script>*@

    @*Scripts para el datepicker*@
    @*<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>*@

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.0/moment-with-locales.min.js" integrity="sha512-EATaemfsDRVs6gs1pHbvhc6+rKFGv8+w4Wnxk4LmkC0fzdVoyWb+Xtexfrszd1YuUMBEhucNuorkf8LpFBhj6w==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.39.0/js/tempusdominus-bootstrap-4.min.js" integrity="sha512-k6/Bkb8Fxf/c1Tkyl39yJwcOZ1P4cRrJu77p83zJjN2Z55prbFHxPs9vN7q3l3+tSMGPDdoH51AEU8Vgo1cgAA==" crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/highlight.min.js"></script>

    <script>
        $(function () {
            $('#durationExample').timepicker({
                'timeFormat': 'H:i',
                'minTime': '7:00am',
                'maxTime': '5:00pm',
                'disableTimeRanges': [
                    ['12pm', '1pm']
                ]
            });
        });
    </script>

    @*<script type="text/javascript">
            $(function () {
                $('.datepicker').datepicker({
                    daysOfWeekDisabled: [0],
                    dateFormat: "dd/mm/yy",
                    locale: 'es-mx',
                    format: 'L',
                    showOn: "both",
                    buttonText: "<i class='fa fa-calendar'></i>"
                });
            });
        </script>*@
    <script type="text/javascript">
        $(function () {
            $('#datetimepicker12').datetimepicker({
                daysOfWeekDisabled: [0],
                locale: 'es-mx',
                format: 'L',
                //showOn: "both",
                //buttonText: "<i class='fa fa-calendar'></i>"
            });
        });
    </script>
}


